---
layout: default
title: Therapy for POC - Rottenberg Therapy - West Brooklyn, NY
description: >-
    If you’re a person of color in need of a safe space, therapy with POC in mind with our Black and Brown therapists can give you the freedom and safety to heal.
permalink: /counseling-for-poc/
---

<div class="container full-width-container">
    <div class="row header">
        <div class="col-12">
            <h1><strong>Counseling for POC</strong></h1>
        </div>
    </div>
        {% for section in site.data.specialty.poc %}
        <div class="col-lg-8 col-md-12 col-sm-12 section"> 
            {% if section.header %}
            <div class="row"><h2 class="page-header">{{section.header}}</h2></div>
            {% elsif section.subheader %}
            <div class="row"><h3>{{section.subheader}}</h3></div>
            {% endif %}
            <p>{{section.paragraph | markdownify}}</p> 
        </div>
        {% endfor %}

</div>