RewriteEngine on
RewriteBase /_site

# Rewrite to www
Options +FollowSymLinks
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI}

# Caching schema
<FilesMatch "\.(jpg|png|css|js|webp|gif|html)$">
Header set Cache-Control "public, max-age=31536000"
</FilesMatch>

# Custom 404 errors
ErrorDocument 404 /_site/_pages/404.html

# Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>

# Prevent directory listings
Options All -Indexes
