---
layout: default
title: Home
description: >-
  Sary Rottenberg Psychotherapy provides therapy to individuals and couples in New York City and surrounding areas. We specialize in and treat relationships, career changes, trauma, depression, anxiety as well as issues affecting the LGBTQ community.
---
<!-- Page Content -->
<header>
  <div class="row-fluid hero" id="page-top">
    <div>
      <a href="#section-one" class="page-scroll fas fa-arrow-circle-down fa-2x hero-arrow"></a>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <h1 class="hero-text">Take the first <br>step to a better
          <br>
          life.</h1>
      </div>
    <div class="hero-overlay">
    </div>
  </div>
</header>
<!-- /End Hero Image Begin Front Statement -->
  <div class="container full-width-container">
    <div class="row justify-content-center">
      <div class="col-12 front-statement" id="section-one">
        <div>
            <p>Welcome to Rottenberg Therapy! Our dedicated team of therapists is committed to providing you with empathic care. Learn more about how we can help you.</p>
          <br>
            <a href="{% link _pages/services.html %}">
            <button class="mdc-button mdc-button--raised"><span class="mdc-button__ripple"></span>Our Services</button>
            </a>
            <br>
            <a href="#section-two" class="page-scroll fas fa-arrow-circle-down fa-2x" id="section-two-arrow"></a>
            <p class="our-team">
            Our Team</p>
        </div>
      </div>
    </div>

      <div class="row divider">
      </div>

      <div class="row justify-content-center">
        <div class="col-12 front-statement" id="section-two">
          <p>
            Whether you are looking for support through difficult emotions, traumatic experiences, life  transitions, or would like to explore aspects of your identity, the clinicians at Rottenberg Therapy are here for you.
          </p>
          <br>
          <a href="{% link _pages/meet-our-team.html %}">
            <button class="mdc-button mdc-button--raised"><span class="mdc-button__ripple"></span>Meet Our Team</button>
          </a>
        </div>
      </div>

<!-- office photo and contact info -->
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-12 col-sm-12 office">
        </div>
        <div class="divider-2 col-lg-6 col-md-12 col-sm-12 text-center">
         
          <h2>Contact one of our professionals today:</h2><br/>
          <div class="contact">
            <p>
              {% for employee in site.data.employees %}
                {% assign name = employee[1].name %}
                {% assign email = employee[1].email %}
                {% assign phone = employee[1].phone %}
                <a id="contact-list" href="mailto:{{ email }}?subject=Schedule%20Appointment:%20Mail%20From%20rottenbergtherapy.com">
                <i class="fas fa-envelope"></i> {{name}}
                </a>| {{email}}
              <br />
              {% endfor %}
              <br/>
              <br/>
          </p>
          </div>
<h3>We offer both virtual and in-person appointments</h3>
          <a href="{% link _pages/contact.html %}">
            <button class="mdc-button mdc-button--raised">Schedule a Free Consultation</button>
          </a>

          <br>
          <br>
          <div class="row justify-content-center">
            <!-- Professional verification provided by Psychology Today -->
            <a href="https://www.psychologytoday.com/profile/168066" class="sx-verified-seal"></a>
            <script type="text/javascript" src="https://member.psychologytoday.com/verified-seal.js" data-badge="17"
              data-id="168066"
              data-code="aHR0cHM6Ly93d3cucHN5Y2hvbG9neXRvZGF5LmNvbS9hcGkvdmVyaWZpZWQtc2VhbC9zZWFscy9bQkFER0VdL3Byb2ZpbGUvW1BST0ZJTEVfSURdP2NhbGxiYWNrPXN4Y2FsbGJhY2s="></script>
            <!-- End Verification -->
          </div>
          <br>
          <div style="max-width: 250px; text-align: center; margin: auto; "> <a href="https://zencare.co" rel="noreferrer" target="_blank"><img alt="link to zencare" src="https://zencare.s3.us-east-2.amazonaws.com/badges/therapist_white.png" rel="noreferrer" style="display: block; width: 100%; "></a> <a href="https://zencare.co/region/nyc" target="_blank" rel="noreferrer"><img alt="zencare" src="https://zencare.s3.us-east-2.amazonaws.com/badges/nyc/member_white.png" rel="noreferrer" style="display: block; width: 100%;"></a> </div>
          <br>
          <div class="row justify-content-center">
            <div  style="background-color:white; max-width: 325px">
              <a href="http://www.mywellbeing.com" rel="noreferrer"><img alt="link to mywellbeing" style="max-width:300px; border: solid white 3px" src="/assets/img/mywellbeing-logo-MWB.png" alt="wellbeing" rel="noreferrer"></a>
            </div>
          </div>
          <div class="row justify-content-center">
            <a href="https://www.inclusivetherapists.com" title="Find me on Inclusive Therapists" target="_blank"><img
                style="padding: 25px" src="https://www.inclusivetherapists.com/images/badges/12.png" border="0"></a>
          </div>
        </div>
      </div>
  </div>

<!-- End content
Begin Footer -->
  {% include footer.html %}
