
{% for employee in site.data.employees %}
  <div class="mdc-card col-sm-12 col-md-4 col-lg-2 team">
    {% assign name = employee[0] %}
    {% assign page = employee[1].page %}
      <div class="mdc-card__primary-action mdc-ripple-surface my-ripple" tabindex="0">
        <div class="mdc-card__media mdc-card__media--square {{name}}">
          <a class="media-link" href="{{site.url}}/{{page}}">
            <div class="mdc-card__media-content">
              <h2 class="my-card-title">{{employee[1].name}}</h2>
           </div>
         </a>
           {% if name == "sary" %}
           <h3 class="my-card-title" id="sub-title">{{employee[1].title}}</h3>
           {% endif %}
        </div>
      </div>
        <div class="card-body mdc-typography mdc-typography--body2">Specialties: <span class="specialties">
          {% for item in employee[1].specialties %}
           {% for specialty in item %}
           {% assign link = specialty[1].link %}
          <a href="{{site.url}}/specialties/{{link}}"> {{specialty[0]}} </a>
           {% endfor %}
          {% endfor %}
        </span>
        </div>
        <div class="card-body mdc-typography mdc-typography--body2 text-left">
          {{employee[1].blurb}}
        </div>
          <div class="mdc-card__actions">
            <div class="mdc-card__action-buttons">
              <a href="{{site.url}}/{{page}}"><button id="learn-more" class="my-ripple-button mdc-button mdc-card__action mdc-card__action--button">Learn More</button></a>
              <a href="mailto:{{ employee[1].email }}?subject=Schedule%20Appointment:%20Mail%20From%20rottenbergtherapy.com"><button id="learn-more" class="my-ripple-button mdc-button mdc-card__action mdc-card__action--button">Schedule</button></a>
            </div>
          </div>
    </div>
    {% endfor %}
