<footer>
  <div class="container full-width-container">
    <div class="row">
    <div class="col-12" id="footer">
      &copy;
        <script type="text/JavaScript">
        document.write(new Date().getFullYear());
        </script>
        {{site.brand}} | {{site.address}} |
        <a href="{% link _pages/contact.html %}">
          <i class="fas fa-envelope"></i>
        </a>
        <a href="https://www.facebook.com/pages/category/Mental-Health-Service/Sary-Rottenberg-MA-LMHC-Psychotherapist-375883209229486/
        ">
        <i class="fab fa-facebook-square"></i>
        </a>
        <span><a id="credit" href="http://lesliethe.dev">website by leslie behum</a></span>
    </div>
    </div>
  </div>
</footer>
