

<!-- Extended material form grid -->
<form method="POST" action="">
  <!-- honeypot -->
<div class="hpot">
<label>Leave this field empty: <input name="_gotcha"></label>
</div>
<!-- Grid row -->
<div class="form-row">
  <!-- Grid column -->
  <div class="col-md-6 col-sm-12">
    <div class="md-form form-group">
      <input type="text" class="form-control" id="name" placeholder="Name" name="name" autocomplete="name" required>
      <label for="name">Name</label>
    </div>
  </div>
  <!-- Grid column -->
  <div class="col-md-6 col-sm-12">
    <div class="md-form form-group">
      <input type="email" class="form-control" id="email" placeholder="Email" name="_replyto" autocomplete="email" required minlength="8">
      <label for="email">Email</label>
    </div>
  </div>
</div>

<!-- Grid row -->
<div class="row">
  <!-- Grid column -->
  <div class="col-md-12 col-sm-12">
    <div class="md-form form-group">
      <select id="menu" class="browser-default custom-select" required>
        <option>Who would you like to contact</option>
        <option value="1">{{site.data.employees.sary.name}}</option>
        <option value="2">{{site.data.employees.alana.name}}</option>
        <option value="3">{{site.data.employees.cassandra.name}}</option>
        <option value="4">{{site.data.employees.madison.name}}</option>
      </select>
    </div>
  </div>
</div>

<!-- Grid row -->
<div class="row">
  <!-- Grid column -->
  <div class="col-md-12 col-sm-12">
  <div class="form-group">
  <label for="message">Message</label>
  <textarea name="message" class="form-control rounded-0" id="message" rows="5" required></textarea>
</div>
  </div>
</div>



<button type="submit" class="btn btn-primary btn-light">Submit</button>
</form>
<!-- Extended material form grid -->
