<head>
{% include analytics.html %}
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{% if page.description %}{{ page.description }}{% endif %}">
  <meta name ="keywords" content="psychotherapy, lgbtq, gay, lesbian, queer, trauma, PTSD, depression, anxiety, nyc, manhattan">
  <meta property="og:image" content="http://www.rottenbergtherapy.com/assets/img/hero.jpg" />
  <meta property="og:site_name" content="Sary Rottenberg Psychotherapy"/>
  <meta property="og:title" content="Rottenberg Therapy"/>
  <meta property="og:url" content="http://www.rottenbergtherapy.com"/>
  <meta property="og:type" content="website"/>
  <meta property="og:description" content="Queer Affirmative Psychodynamic Psychotherapy in NYC.  Hebrew Speaking"/>
  <meta itemprop="name" content="Rottenberg Therapy"/>
  <meta itemprop="url" content="http://www.rottenbergtherapy.com"/>
  <meta itemprop="description" content="Queer Affirmative Psychodynamic Psychotherapy in NYC.  Hebrew Speaking"/>

  <script>
  // Check that service workers are supported
  if ('serviceWorker' in navigator) {
    // Use the window load event to keep the page load performant
    window.addEventListener('load', () => {
      navigator.serviceWorker.register('/service-worker.js');
    });
  }
  </script>

  <script type="application/ld+json">
  {
  "@context": "https://schema.org/",
  "@type": "LocalBusiness",
  "name": "Rottenberg Therapy",
  "image": [
  "http://www.rottenbergtherapy.com/assets/img/hero.jpg"
  ],
  "address": {
  "@type": "PostalAddress",
  "addressLocality": "New York",
  "addressRegion": "NY",
  "streetAddress": "245 W 29th St"
  },
  "description": "Provides therapy to individuals and couples in New York City and surrounding areas. We specialize in and treat relationships, career changes, trauma, depression, anxiety as well as issues affecting the LGBTQIA++ community.",
  "url": "http://www.rottenbergtherapy.com"
  }
  </script>

  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/assets/main.css' }}">

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="manifest.json">


</head>
