<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light" role="navigation">
  <div class="d-flex flex-nowrap w-auto">
  <a class="navbar-brand" href="{% link index.html %}">Sary Rottenberg Psychotherapy</a>
  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  </div>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% link _pages/services.html %}">Services</a>
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Services
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Individual</a>
          <a class="dropdown-item" href="#">Couples</a>
          <a class="dropdown-item" href="#">Family</a>
          <a class="dropdown-item" href="#">Group</a>
        </div>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="{% link _pages/about.html %}">Who We Are</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% link _pages/contact.html %}">Contact</a>
      </li>
    </ul>
  </div>
</nav>
