<div class="row justify-content-center">
  <div class="menu-container" id="menu-specialties">
    <button class="mdc-button" id="mdc-button-specialty">Choose Specialty</button>
    <div class="mdc-menu mdc-menu-surface">
      <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical" tabindex="-1">
        <a href="#identity" class="page-scroll">
          <li class="mdc-list-item" role="menuitem">
            <span class="mdc-list-item__text">Identity</span>
          </li>
        </a>
        <a href="#hebrew" class="page-scroll">
          <li class="mdc-list-item" role="menuitem">
            <span class="mdc-list-item__text">Hebrew(עברית)</span>
          </li>
        </a>
        <a href="#immigration" class="page-scroll">
          <li class="mdc-list-item" role="menuitem">
          <span class="mdc-list-item__text">Acculturation and Immigration</span>
        </li>
        </a>
        <a href="#anxiety" class="page-scroll">
          <li class="mdc-list-item" role="menuitem">
            <span class="mdc-list-item__text">Anxiety & Depression</span>
          </li>
        </a>
        <a href="#trauma" class="page-scroll">
          <li class="mdc-list-item" role="menuitem">
            <span class="mdc-list-item__text">Trauma</span>
          </li>
        </a>
        <a href="#postpartum" class="page-scroll">
          <li class="mdc-list-item" role="menuitem">
            <span class="mdc-list-item__text">Perinatal/Postpartum Mental Health</span>
          </li>
        </a>
        <a href="#infertility" class="page-scroll">
          <li class="mdc-list-item" role="menuitem">
          <span class="mdc-list-item__text">Infertility</span>
          </li>
        </a>
        <a href="#parenting" class="page-scroll">
          <li class="mdc-list-item" role="menuitem">
          <span class="mdc-list-item__text">Parenting</span>
        </li>
        </a>
        <a href="#premenstrual" class="page-scroll">
          <li class="mdc-list-item" role="menuitem">
            <span class="mdc-list-item__text">Premenstrual Dysphoric Disorder</span>
          </li>
        </a>
        <a href="#career" class="page-scroll">
          <li class="mdc-list-item" role="menuitem">
          <span class="mdc-list-item__text">Career Choices & Transitions</span>
        </li>
        </a>
        <a href="#illness" class="page-scroll">
            <li class="mdc-list-item" role="menuitem">
          <span class="mdc-list-item__text">Chronic Illness & Caregivers</span>
        </li>
        </a>
        <a href="#religion" class="page-scroll">
          <li class="mdc-list-item" role="menuitem">
          <span class="mdc-list-item__text">Rigid Religious Upbringing/ Cult survivors</span>
        </li>
        </a>
        <a href="#grief" class="page-scroll">
          <li class="mdc-list-item" role="menuitem">
          <span class="mdc-list-item__text">Loss & Bereavment</span>
        </li>
        </a>
      </ul>
    </div>
  </div>
</div>
