<div class="container full-width-container vh-100" id="treatment" >

    <div class="row">

      <div class="col-12">
        <h3 class="page-header">
          Treatments
        </h3>
      </div>

    <div class="col-lg-4 col-md-4 col-sm-12 box-1 box">
      <div class="col box-button">
          <h2>
          Identity
        </h2>
      </div>

      <div class="overlay-effect h-100 w-100">
        <div class="overlay-text">Our practice is dedicated to people who identify as LGBTQAI++ as well people who are exploring aspects of their gender and sexuality under the LGBTQAI++ umbrella in a safe environment.
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 box-2 box">
      <div class="col box-button">
        <h2>
          Career Choices & Transitions
        </h2>
      </div>

      <div class="overlay-effect h-100 w-100">
        <div class="overlay-text">Finding direction, choosing meaningful and gainful employment can be confusing and challenging, psychotherapy provides a platform for finding choices and peace.
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 box-3 box">
      <div class="col box-button">
          <h2>
          Anxiety, Panic & Depression
        </h2>
      </div>

      <div class="overlay-effect h-100 w-100">
        <div class="overlay-text">
          Many people in New York City suffer from anxiety, panic attacks and depression, we can help you navigating these overwhelming feelings.
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <a href="#contact" class="page-scroll fas fa-angle-double-down fa-2x treat-arrow"></a>
    </div>
  </div>
  </div>
