<div class="container full-width-container" id="treatment">
    <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 box-1 box">
      <h2 class="box-button">
          Identity
        </h2>
      <div class="overlay-effect h-100 w-100">
        <div class="overlay-text">Our practice is dedicated to people who identify as LGBTQAI++ as well people who are exploring aspects of their gender and sexuality under the LGBTQAI++ umbrella in a safe environment.
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 box-2 box">
      <h2 class="box-button">
          Career Choices & Transitions
        </h2>
      <div class="overlay-effect h-100 w-100">
        <div class="overlay-text">Finding direction, choosing meaningful and gainful employment can be confusing and challenging, psychotherapy provides a platform for finding choices and peace.
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 box-3 box">
      <h2 class="box-button">
          Anxiety, Panic & Depression
        </h2>
      <div class="overlay-effect h-100 w-100">
        <div class="overlay-text">
          Many people in New York City suffer from anxiety, panic attacks and depression, we can help you navigating these overwhelming feelings.
        </div>
      </div>
    </div>
  </div>
  </div>
