//fonts
@import url("https://fonts.googleapis.com/css?family=Alice|Josefin+Sans:400,400i,600|Lexend+Exa|Nunito:400,600,700,800&display=swap" rel="stylesheet");


//variables
$font-header: 'Lexend Exa', sans-serif;
$font-body2: 'Nunito', sans-serif;
$font-body: 'Josefin Sans', sans-serif;
$font-overlay: 'Alice', serif;
