//fonts
@import url('https://fonts.googleapis.com/css?family=Alice|Josefin+Sans:400,400i,600,600i,700,700i|Lexend+Exa&display=swap');


//variables
$font-header: 'Lexend Exa', sans-serif;
$font-body: 'Josefin Sans', sans-serif;
$font-overlay: 'Alice', serif;
