---
---
@import "_variables";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: $font-body;
  width: 100%;
  height: 100%;
}
.full-width-container {
  max-width: 100%;
}
.header {
  padding-top: 100px;
  text-align: center;
}
.bg-light {
  background-color: white !important;
}
.navbar-brand {
  white-space: normal;
}
.navbar-light .navbar-brand {
  color: rgb(242, 181, 145);
  font-family: $font-header;
  text-transform: uppercase;
  font-size: 30px;
  &:hover {  color: rgb(242, 181, 145);}
  &:visited {color: rgb(242, 181, 145);}
}
.navbar, ul a {
  font-family: $font-body;
  text-transform: uppercase;
  color: black;
  font-size: 16px;
}
.dropdown-toggle::after {
  border: 0;
  margin: 0;
}
.dropdown-item {
  text-transform: none;
}
.hero {
  position: relative;
  margin-left: -200;
  padding-top: 6rem;
  padding-bottom: 24rem;
  background: url("/assets/img/hero.jpg") no-repeat;
  background-size: cover;
  background-position: right bottom;
  height: 100vh;
}
.hero-overlay {
  top: 0;
  left:0;
  position: absolute;
  width: 50%;
  height: 100vh;
  background: rgba(5, 5 ,5, 0.5);
  z-index: 1;
}
.fa-chevron-down {
  bottom: 5%;
  left: 50%;
  position: absolute;
  color: white;
  z-index: 100;
}
.hero-text, a {
  text-align: center;
  position: relative;
  font-family: $font-overlay;
  color: white;
  z-index: 100;
  &:hover { color: white;
            text-decoration: none;}
}
#treatment, #contact, #form {
padding-top: 150px;
padding-bottom: 50px
}
#contact {
  height: 640px;
}

// Begin About Page Styles
.mdc-card {
  margin: 5px;
  min-width: 350px;
  min-height: 350px;
}
.my-card-title {
  margin: 1.25rem 0 1px 1.25rem;
  color: white;
  font-family: $font-overlay;
  width:125px;
  text-align: center;
  background-color: rgba(1,1,1,.5)
}
.mdc-button::before, .mdc-button::after {
  background-color: rgb(242, 181, 145);
}
.mdc-button:not(:disabled) {
  color: black;
}
.kate {
  background-image: url("/assets/img/kate.jpeg");
}
.alana {
  background-image: url("/assets/img/alana.jpeg");
}
.gwenn {
  background-image: url("/assets/img/gwenn.jpg");
}
.team {
  padding-left: 0;
  padding-right: 0;
}

/* ---------------------------------------Begin Contact Form
-----------------------------------------*/
form {
  margin: 0 auto;
  width: 500px;
  padding-top: 200px;
}
.box-1 {
  background: url("/assets/img/lgbt.jpg")top left no-repeat;
}
.box-2 {
  background: url("/assets/img/career.jpg")top left no-repeat;
}
.box-3 {
  background: url("/assets/img/anxiety.jpg") top left no-repeat;
}
.box {
  text-align: center;
  height: 0;
  background-size: cover;
  padding-top: 50%;
}
// Start Overlay Effect
.overlay-effect {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(84, 188, 232, 0.7);
  overflow: hidden;
}
.overlay-text {
  position: absolute;
  text-align: left;
  font-size: 20px;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.box-button {
  font-family: $font-overlay;
  color: white;
  top: 50%;
  width: 80%;
  position: absolute;
  transition: 0.3s;
}
.box:hover .overlay-effect {
  opacity: 1;
  cursor: pointer;
}
.box:hover .box-button {
  opacity: 0;
}
.box:hover .overlay-text {
  top: 50%;
  left: 50%;
  opacity: 1;
}

 iframe {
   position: relative;
   width: 100%;
   height: 500px;
 }

/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width: 1024px) and (max-width: 1280px) {

}

@media all and (min-width: 768px) and (max-width: 1024px) {
.navbar-light .navbar-brand {
    font-size: 30px;
  }

 }

@media all and (min-width: 480px) and (max-width: 768px) {
}

@media all and (max-width: 480px) {
  form {
    width: auto;
  }
  .navbar-light .navbar-brand {
    font-size: 20px;
    text-align: center;
  }
  .hero {
    background-position: -525px;
  }
  .hero-overlay {
    width: 100%;
  }
  .box-3 {
    background-position: bottom 15% right;
  }
}
