---
---
@import "_variables";

* {
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: $font-body;
  width: 100%;
  height: 100%;
  background-color: rgba(204, 212, 217, 85);
}
.wrapper {
  position: relative;
  min-height: 100vh;
}
.container {
  padding-bottom: 2.5rem;
}
.full-width-container {
  max-width: 100%;
}
.header {
  padding-top: 100px;
  text-align: center;
}
.info {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 300;
  font-size: 19px;
  text-align: left;
}
.page-header {
  font-family: $font-body;
  padding: 20px;
  text-align: center;
}
// secondary header
.page-header-2 {
  padding: 10px 10px 10px 0;
  font-family: $font-body;
  font-weight: bold;
}

/*  ------------------------------ Begin Navigation Bar-------------------------------*/
.bg-light {
  background-color: white !important;
}
.navbar {
  font-family: $font-body;
  text-transform: uppercase;
  font-size: 15px;
}
.navbar-light .navbar-brand {
  color: rgb(115, 38, 38);
  font-family: $font-header;
  text-transform: uppercase;
  font-size: 30px;
  &:hover {color: rgb(204, 212, 217);}
  transition: 0.3s;
}
.dropdown-toggle::after {
  border: 0;
  margin: 0;
}
.dropdown-item {
  text-transform: uppercase;
}
#contact {
  color: rgb(115, 38, 38);
  &:hover {color:black;}
}

/* ---------------------------Hero Image and Overlay---------------------------*/
.hero {
  position: relative;
  margin-left: -200;
  padding-top: 6rem;
  padding-bottom: 24rem;
  background: url("/assets/img/hero-compressor.jpg") no-repeat;
  background-size: cover;
  background-position: right bottom;
  height: 100vh;
}
.hero-overlay {
  top: 0;
  left:0;
  position: absolute;
  width: 50%;
  height: 100vh;
  background: rgba(5, 5 ,5, 0.5);
  z-index: 1;
}
.hero-arrow {
  bottom: 20%;
  left: 50%;
  position: absolute;
  color: white;
  z-index: 100;
}
.hero-text{
  padding-left: 25px;
  padding-top: 25%;
  position: relative;
  font-family: $font-overlay;
  color: white;
  z-index: 100;
  font-size: 5rem;
}
/*------------------------------Begin section styles-----------------------*/
#front-statement {
  max-width: 1000px;
  padding: 100px;
  font-size: 30px;
  text-align: center;
  background-color: rgba(204, 212, 217, 85);
}
.divider {
  position: relative;
  padding-top: 6rem;
  padding-bottom: 24rem;
  background: url("/assets/img/family-sitting-compressor.jpg") no-repeat;
  background-size: cover;
  background-position: center bottom;
}
.divider-2 {
  font-size: 20px;
  color: white;
  padding-top:50px;
  background-color:rgba(1, 64, 64, .5);
  padding-bottom: 50px;
}
.contact {
  margin-left: 50px;
}
.office {
  height: 600px;
  background: url("/assets/img/DSC01882_crop-website-compressor-1.jpg") no-repeat;
  background-size: cover;
  background-position: center left;
}
.box-1 {
  background: url("/assets/img/group.jpg")top left no-repeat;
}
.box-2 {
  background: url("/assets/img/relationship.jpg")no-repeat;
  background-position: 25% 75%;
}
.box-3 {
  background: url("/assets/img/individuals.jpg") top left no-repeat;
  height: 200px;
  background-position: 25% 40%;
}
.box-4 {
  background: url("/assets/img/family.jpg") top left no-repeat;
  height: 200px;
  background-position: 25% 75%;
}
.box-5 {
  background: url("/assets/img/career.jpg") top left no-repeat;
  height: 200px;
  background-position: 25% 75%;
}
.box-6 {
  background: url("/assets/img/loss.jpg") top left no-repeat;
  height: 200px;
  background-position: 75% 75%;
}
.box-7 {
  background: url("/assets/img/pride.jpg") top left no-repeat;
  height: 200px;
  background-position: 70% 75%;
}
.box-8 {
  background: url("/assets/img/anxiety.jpg") top left no-repeat;
  height: 200px;
  background-position: 70% 50%;
}
.box-9 {
  background: url("/assets/img/immigration.jpg") top left no-repeat;
  height: 200px;
  background-position: 70% 50%;
}
.box-10 {
  background: url("/assets/img/poc.jpg") top left no-repeat;
  height: 200px;
  background-position: 70% 50%;
}
.box-11 {
  background: url("/assets/img/parenting.jpg") top left no-repeat;
  height: 200px;
  background-position: 70% 50%;
}
.box {
  border-radius: 50%;
  background-size: cover;
  width: 200px;
  height:200px;
}
.phone {
  text-decoration: underline;
}
#footer {
  text-align: center;
  bottom: 0;
  position: absolute;
  padding: 5px;
  background-color: rgb(115, 38, 38);
  color: white;
}
.fas, .fab {
    padding-top: 10px;
    font-size: 20px;
    color: white;
    &:hover {
      color: rgba(204, 212, 217, 85)
    }
  }
#supervision {
  padding-bottom: 50px;
}
.divider-supervision {
  position: relative;
  padding-top: 6rem;
  padding-bottom: 24rem;
  background: url("/assets/img/trees.jpg") no-repeat;
  background-size: cover;
  background-position: center bottom;
}
#services {
  padding-top: 20px;
  padding-bottom: 40px;
}
.service-img {
  border-radius: 50%;
}
.menu-container {
  position: relative;
}
#mdc-button-specialty:not(:disabled) {
  font-size: 15px;
  margin-bottom: 20px;
}
.mdc-list-item {
  height: 35px;
  color: black;
  &:hover {
    color: rgb(115, 38, 38);
  }
}
.map {
  padding-top: 150px;
}
/* -------------------------Begin About Page Styles-------------------------------------------*/
.owner {
  font-size: 20px;
}
#sub-title {
  padding-right: 30px;
  font-size: 18px;
  text-align: right;
}
.kate {
  background-image: url("/assets/img/Kate 8X10_website.jpg");
}
.alana {
  background-image: url("/assets/img/Alana 8X10_website.jpg");
}
.sary {
  background-image: url("/assets/img/Sary 8X10_website.jpg")
}
.team {
  padding-left: 0;
  padding-right: 0;
}
.headshot {
  max-height: 500px;
}
.mdc-card {
  margin: 20px;
  min-width: 350px;
}
.card-body {
  padding-top: 5px;
  padding-bottom: 5px;
}
.media-link {
  position:absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.my-card-title {
  padding-top: 2px;
  margin: .25rem 0 1px 1.25rem;
  color: white;
  font-size: 25px;
  text-align: center;
  background-color: rgba(115, 38, 38, 0.8);
}
.mdc-button:not(:disabled), .mdc-button--outlined:not(:disabled) {
  border-color: transparent;
  color: white;
  background-color: rgb(115, 38, 38);
  margin: 5px;
  height: 25px;
}
.caption-btn {
  padding: 10px 10px 10px 0;
}
.fa-arrow-left, .back {
  color: black;
  &:hover {
    color: rgb(115, 38, 38);}
}
a {
  color: rgb(115, 38, 38);
  &:hover {
      color: rgba(204, 212, 217, 85);}
}
/* ------------------Begin Contact Form-----------------------------------------*/
form {
  margin: 0 auto;
  width: 500px;
  font-weight: 600;
  padding-bottom: 25px;
}
.hpot {
  display: none;
}
 iframe {
   position: relative;
   width: 100%;
   height: 400px;
 }
.custom-select, .form-control {
  background-color: transparent;
  border: solid 1px;
}
.md-form label {
  color: black;
}

/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width: 1024px) and (max-width: 1980px) {
.divider {
  background-position: center -670px;
}
}
@media all and (min-width: 768px) and (max-width: 1024px) {
.navbar-light .navbar-brand {
    font-size: 20px;
    padding-left: 10px;
  }
.navbar, ul a {
  font-size: 14px;
  padding-left: 5px;
  padding-right: 10px;
}
 }
@media all and (min-width: 480px) and (max-width: 768px) {
}
@media all and (max-width: 480px) {
  form {
    width: auto;
  }
  .navbar-light .navbar-brand {
    font-size: 20px;
    text-align: center;
  }
  .hero {
    background-position: -425px;
  }
  .hero-text {
    padding-top: 15px;
    font-size: 3rem;
  }
  .hero-overlay {
    width: 100%;
  }
  #front-statement {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
  }
  .page-header {
    font-weight: bold;
    padding: 5px;
    font-size: 30px;
  }
  .page-header-2 {
    text-align: center;
  }
  .divider-2 {
    font-size: 15px;
  }
  .contact {
    margin-left: 0;
  }
  .office {
    background-position: -50px;
  }
}
